<html>
    <head>
        <title>Ola's blog</title>
    </head>
    <body>
        <h1>Ты чепушила бля ебаная</h1>
        <h6><em>Съеби плес</em></h6>
        <p>Ты пидор<br /><strong>Пощёл нахуй</strong></p>
        <div>
            <a href="https://pornhub.com">тут порнуха</a>
        </div>
        <div>
           <a href="http://127.0.0.1:8000/admin/blog/post/2/change/"</a><h1><strong>Мой Блог 1</strong></h1>
        </div>
        <div>
            <a href="http://127.0.0.1:8000/admin/blog/post/1/change/"</a><h2><strong>Не читай</strong></h2>
        </div>

    </body>

</html>
